* {
  margin: 0;
}

body {
  background-image: url("./images/journey_image.png");
  background-position: center;
  background-size: cover;
}

button {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 0.8em;
  color: black;
  background-color: crimson;
  font-weight: bold;
}

img {
  width: 20em;
  justify-content: top;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

h2 {
  font-size: 1.5;
  margin-bottom: 0.5em;
  color: black;
}

.App {
  text-align: center;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.start-journey-container {
  text-align: center;
  margin-bottom: 2em;
}

.start-journey-container h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.display-journey-container {
  padding: 1.25em;
  /* display: flex;
  flex-direction: column; */
}

.display-journey-container input {
  height: 2em;
  border-radius: 0.8em;
}

.display-journey-container button {
  padding: 0.5em 1em;
  margin-bottom: 0.625em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.display-journey-container button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  padding: 0.5em 1em;
  font-size: 0.6em;
}

.display-journey-container p {
  color: red;
  margin-top: 0.1em;
  font-size: 0.8em;
  text-align: center;
}

.display-journey-container table {
  width: 100%;
  margin-top: 0.625em;
  border-spacing: 0;
  border-collapse: separate;
}

.display-journey-container th {
  color: black;
  border: 0.125em solid #ccc;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 0.25em;
  border: 0.08em solid darkkhaki;
  border-radius: 0.5em;
}

.display-journey-container td {
  padding: 0.5em;
  border: 0.125em solid #ccc;
  font-weight: bold;
  border: 0.08em solid darkkhaki;
  border-radius: 0.5em;
}

.result-container {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-container ul {
  font-size: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  text-align: left;
  font-weight: bolder;
}

@media (max-width: 37.5em) {
  img {
    width: 15em;
  }

  .start-journey-container {
    margin-bottom: 1.5em;
  }

  .start-journey-container h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .start-journey-container button {
    padding: 0.75em 1em;
    font-size: 0.6em;
  }

  .display-journey-container {
    padding: 1em;
  }

  .display-journey-container h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .display-journey-container input {
    height: 1.5em;
  }

  .display-journey-container button {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    font-size: 0.5em;
  }

  .display-journey-container button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    padding: 0.5em 1em;
    font-size: 0.5em;
  }

  .display-journey-container table {
    margin-top: 0.5em;
    border-spacing: 0;
    border-collapse: separate;
  }

  .display-journey-container th {
    border: 0.125em solid #ccc;
    padding: 0.25em;
    font-size: 0.8em;
    border: 0.08em solid darkkhaki;
    border-radius: 0.5em;
  }

  .display-journey-container td {
    padding: 0.5em;
    border: 0.125em solid #ccc;
    font-size: 0.8em;
    border: 0.08em solid darkkhaki;
    border-radius: 0.5em;
  }

  .result-container {
    padding: 0.75em;
  }

  .result-container ul {
    font-size: 0.8em;
    margin-bottom: 1em;
    max-width: 80%;
    text-align: left;
    font-weight: bolder;
  }

  .result-container button {
    padding: 0.7em 1em;
    font-size: 0.6em;
  }
}
