* {
  margin: 0;
}

.App {
  text-align: center;
}

button {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 0.8em;
}

img {
  width: 20em;
}

h2 {
  font-size: 1.5;
  margin-bottom: 0.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-journey-container {
  text-align: center;
  margin-bottom: 2em;
}

.start-journey-container h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* .start-journey-container button {
  padding: 0.5em 1em;
  font-size: 1.5em;
} */

.journey-entry-container {
  padding: 1.25em;
  /* display: flex;
  flex-direction: column; */
}

.journey-entry-container input {
  height: 2em;
  border-radius: 0.8em;
}

.journey-entry-container button {
  padding: 0.5em 1em;
  margin-bottom: 0.625em;
  margin-left: 0.5em;
  font-size: 0.6em;
}

.journey-entry-container button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  padding: 0.5em 1em;
  font-size: 0.6em;
}

.journey-entry-container p {
  color: red;
  margin-top: 0.1em;
  font-size: 0.8em;
  text-align: center;
}

.journey-entry-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.625em;
}

.journey-entry-container th {
  color: black;
  border: 0.125em solid #ccc;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 0.25em;
}

.journey-entry-container td {
  padding: 0.5em;
  border: 0.125em solid #ccc;
}

.result-container {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-container ul {
  font-size: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  text-align: left;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

/* .result-container button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  padding: 0.5em 1em;
  font-size: 1.5em;
} */

@media (max-width: 37.5em) {

  img {
    width: 15em;
  }

  .start-journey-container {
    margin-bottom: 1.5em;
  }

  .start-journey-container h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .start-journey-container button {
    padding: 0.75em 1em;
    font-size: 0.6em;
  }

  .journey-entry-container {
    padding: 1em;
  }

  .journey-entry-container h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .journey-entry-container input {
    height: 1.5em;
  }

  .journey-entry-container button {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    font-size: 0.5em;
  }

  .journey-entry-container button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    padding: 0.5em 1em;
    font-size: 0.5em;
  }

  .journey-entry-container p {
    margin-top: 0.5em;
  }

  .journey-entry-container table {
    margin-top: 0.5em;
  }

  .journey-entry-container th {
    border: 0.125em solid #ccc;
    padding: 0.25em;
  }

  .journey-entry-container td {
    padding: 0.5em;
    border: 0.125em solid #ccc;
  }

  .result-container {
    padding: 0.75em;
  }

  .result-container ul {
    font-size: 0.8em;
    margin-bottom: 1em;
    max-width: 80%;
    text-align: left;
  }

  .result-container button {
    padding: 0.7em 1em;
    font-size: 0.6em;
  }
}